@import "../../Scss/Variables.scss";

.home__top {
  top: 0;
  position: sticky;
  z-index: 10;
  right: 0;
  padding: 16px;
  border-bottom: 1px solid $strokeColor-Light;
  background-color: rgba($color: $bG-Light, $alpha: 0.5);
  backdrop-filter: blur(30px);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--modal{
    pointer-events: none;
  }
}

.home__heading {
  margin: 0;
  @include TextHeadingBold;
}

.home__button {
  margin: -10px 0;
  margin-right: -10px;
  padding: 10px;
  color: $primaryColor;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
  -webkit-tap-highlight-color: transparent;

  svg {
    display: block;
  }

  &:hover {
    background-color: $InputColor-Light;
  }
}

.app--dark {
  .home__top {
    border-color: $strokeColor-Dark;
    background-color: rgba($color: $bG-Dark, $alpha: 0.7);
  }

  .home__button {
    &:hover {
      background-color: $InputColor-Dark;
    }
  }
}
